html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    font-size: 14px;
    font-family: Arial;
}
div {
    border: 2px solid red;
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background: yellow;
}
div > h1 {
    text-align: right;
}
div > p {
    text-align: center;
    background: blue;
    color: white;
    font-size: 14.5px;
}
body > h1 {
    text-align: center;
}
div > p > i > b {
    color: red;
}
div > p > span > span {
    color: red;
}
div > p > span {
    font-size: 19px;
    display: block;
    text-align: left;
}