html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100%;
}
.center-block {
    border: 3px solid black;
    box-sizing: border-box;
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    background: aqua;
}
.two_block {
    border: 3px solid blue;
    box-sizing: border-box;
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    text-align: right;
}
img {
    width: 300px;
    width: 600px;
    margin: 10px auto;
    padding: 10px;
}
button {
    padding: 5px 20px;
    margin: 10px;
    background: white;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
}
button:hover {
    background: red;
    color: white;
}
button:disabled {
    background: gray;
    color: white;
}
button:focus {
    background: blue;
    color: white;
}
button.btn-yellow {
    background:yellow;
}
button.btn-green {
    background: green;
}